In [1]:
import pandas as pd
import plotly.express as px

In [2]:
ePrices = pd.read_csv("../data/electricity_prices.csv")
gasPrices = pd.read_csv("../data/gas_prices.csv")
train = pd.read_csv("../data/train.csv")

In [9]:
df_prices = pd.merge(ePrices, gasPrices[['data_block_id','lowest_price_per_mwh','highest_price_per_mwh']], on=['data_block_id'], how='outer',suffixes=('_el', '_gas'))

In [10]:
df = pd.merge(train, df_prices,on=['data_block_id'], how='outer',suffixes=('', '_GasEl_prices'))

In [11]:
df

,county,is_business,product_type,target,is_consumption,datetime,data_block_id,row_id,prediction_unit_id,forecast_date,euros_per_mwh,origin_date,lowest_price_per_mwh,highest_price_per_mwh
0,0,0,1,0.713,0,2021-09-01 00:00:00,0,0,0,NaN,NaN,NaN,NaN,NaN
1,0,0,1,96.590,1,2021-09-01 00:00:00,0,1,0,NaN,NaN,NaN,NaN,NaN
2,0,0,2,0.000,0,2021-09-01 00:00:00,0,2,1,NaN,NaN,NaN,NaN,NaN
3,0,0,2,17.314,1,2021-09-01 00:00:00,0,3,1,NaN,NaN,NaN,NaN,NaN
4,0,0,3,2.904,0,2021-09-01 00:00:00,0,4,2,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48366667,15,1,3,196.240,1,2023-05-31 23:00:00,637,2018351,60,2023-05-30 19:00:00,82.10,2023-05-29 19:00:00,29.0,34.0
48366668,15,1,3,196.240,1,2023-05-31 23:00:00,637,2018351,60,2023-05-30 20:00:00,150.85,2023-05-29 20:00:00,29.0,34.0
48366669,15,1,3,196.240,1,2023-05-31 23:00:00,637,2018351,60,2023-05-30 21:00:00,82.10,2023-05-29 21:00:00,29.0,34.0
48366670,15,1,3,196.240,1,2023-05-31 23:00:00,637,2018351,60,2023-05-30 22:00:00,82.09,2023-05-29 22:00:00,29.0,34.0
48366671,15,1,3,196.240,1,2023-05-31 23:00:00,637,2018351,60,2023-05-30 23:00:00,-1.29,2023-05-29 23:00:00,29.0,34.0